@define-color foreground #ccccee;
@define-color foreground-inactive #aaaacc;
@define-color main-background rgba(40,40,60,0.4);
@define-color item-background rgba(55,55,75,0.3);
@define-color border #666699;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
	padding: 0;
	font-weight: bold;
}

.modules-right, .modules-left, .modules-center {
	
}

#waybar {
    color: @foreground;
    background-color: @main-background;
	border-radius: 10px;
}


#workspaces button {
    color: @foreground;
    padding-left: 0.2em;
	padding-right: 0.6em;
}


#workspaces button.empty {
    color: @foreground-inactive;
}


#workspaces button:hover {
  background: @item-background;
  text-shadow: none;
  border-radius: 15px;
}

#workspaces button.active {
  border-radius: 15px;
  background: rgba(70,70,90,1);
  text-shadow: none;
}

#custom-arch-logo {
	font-size: 17px;
	color: #1793d1;
}

#workspaces,
#custom-arch-logo,
#window,
#custom-temperature,
#clock,
#pulseaudio,
#battery,
#language,
#custom-wifi,
#bluetooth,
#custom-power {
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: @item-background;
	border-radius: 15px;
	border-width: 0.2px;
	border-color: @border;
	border-style: solid;
}
