@define-color foreground #bcc5ff; 
@define-color main-background rgba(35, 35, 50, 0.6);
@define-color item-background rgba(80,80,100,0.0);
@define-color border #666699;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
	padding: 0;
	font-weight: bold;
}

.modules-right, .modules-left, .modules-center {
	background: @item-background;
	border-radius: 10px;

}

#waybar {
	background: @main-background;
	border-color: @border;
	border-width: 0.1px;
	border-style: solid;
	color: @foreground;
}


#workspaces button {
    color: @foreground;
    padding-left: 0.4em;
	padding-right: 0.4em;
}


#workspaces button:hover {
  background: @item-background;
  text-shadow: none;
  border-radius: 15px;
}

#workspaces button.active {
  border-radius: 15px;
  background: rgb(53, 53, 77);
  text-shadow: none;
}

#custom-arch-logo {
	font-size: 17px;
	color: #1793d1;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 10px;
}

#custom-separator {
	color: #444466;
}

#workspaces,
#window,
#custom-temperature,
#clock,
#pulseaudio,
#battery,
#language,
#custom-wifi,
#bluetooth,
#custom-power {
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 10px;
	color: @foreground;
}
